
# Copy this file to .env and fill in the values for your environment
# double check that you have this file in your .gitignore so you don't accidentally commit your secrets to git

GEMINI_API_KEY=your_gemini_api_key_here

JWT_SECRET=change_me_to_a_long_random_string
JWT_ALGORITHM=change_to_your_preferred_algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=60

# in production, you should set this to your production database credentials, for now use the default values for 
# local development and fill in your my sql username and password in the .env file
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=your_mysql_username_here
MYSQL_PASSWORD=your_mysql_password_here
MYSQL_DB=clyro

# fill your my sql username and password in the DATABASE_URL below, for example:
DATABASE_URL=mysql+pymysql://your_mysql_username_here:your_mysql_password_here@localhost:3306/clyro


# fill in your google client id here, you can get it from the google cloud console, This is used for google oauth login
# so users can sign in with their google account, you can also use other oauth providers like facebook, github, etc. but for now we will just use google
Clyro_backend_Client_ID=your_google_client_id_here

ALLOWED_ORIGINS=*